<div class="reviews">
    {{#each this}}
    <section class="review">
    <div class="meta">
      By {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{review_text}}
    </div>
    
    <button type="click" class="delete-review-btn">Delete review</button>
   
  </section>
  {{/each}}
</div>
