<div class="reviews">
    {{#each this}}
    <section class="review">
    <div class="user-info">
      By {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{review_text}}
    </div>
    <a href="/singlebook/editReview/{{id}}">Edit Review</a>
  </section>
  {{/each}}
</div>
