<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iReadIt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/css/uikit.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <header>
            <h1>
                <a class="uk-link-text " href="/">iReadIt</a>
            </h1>

            <nav class= "uk-breadcrumbs">
                <ul class="uk-navbar-center">
                <li><a href="/">Home</a></li>
                {{#if loggedIn}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><button class="uk-button uk-button-text" id="submit">Logout</button></li>
                {{else}}
                 <li><a href="/login">Login</a></li>
                {{/if}}
                </ul>
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>
        <footer uk-sticky="position: bottom">
            Copyright 2022
        </footer>
    </div>
</body>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</html>