<div> 
    <form id="new-book-form">
        <h1>Add A Book...</h1>

        <div>
            <label for="book-image">Book Cover:</label>
            <input type="image" id="book-cover" name="cover"/>
        </div>

        <div>
            <textarea row="30" column="30 "book">
                Book:
            </textarea>
        </div>

        <div>
            <button class="uk-button uk-button-link uk-button-large hover-underline-animation" type="submit">Add Book</button>
        </div>
    </form>
</div>