<!--all posts for logged in user-->
{{!-- {{#if books.length}} --}}
{{!-- <section> --}}
    <h1>My Book Dashboard</h1>
    <section class="uk-flex-inline">
        <form class="new-book-form">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div>
                    <label for="book-title" class="book-title">Book Title:</label>
                    <input type="text" id="book-title" name="book-title" />
                </div>

                <div>
                    <label for="author-name" class="author-name">Author:</label>
                    <input type="text" id="author-name" name="author-name" />
                </div>
            </div>

            <div>
                <button class="uk-button uk-button-link uk-button-large hover-underline-animation" id="book-button" type="submit">+ Add A
                    Book</button>
            </div>
        </form>

        <div class="uk-slider-container" uk-slider>
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="https://www.mysteryandsuspense.com/wp-content/uploads/2020/10/Top-Thrillers-2021-The-Wife-Upstairs-Rachel-Hawkins-197x300.jpg"
                                    width="500" height="500" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="https://i.pinimg.com/originals/81/1e/c9/811ec90a02687e013ef045d8e09b3d80.jpg"
                                    width="500" height="500" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="https://2.bp.blogspot.com/_S2p1xrMVhOQ/TDOBjMI0eAI/AAAAAAAAAyY/fX-J4-fcah0/s1600/memoirs+geisha.jpg"
                                    width="500" height="500" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="https://upload.wikimedia.org/wikipedia/en/4/45/Life_of_Pi_cover.png"
                                    width="500" height="500" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="https://books.google.com/books/publisher/content?id=wy5lDwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U3wGisU4STzmyzxbyEHrnZkyLVFjA&w=1280"
                                    width="500" height="500" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="https://images2.penguinrandomhouse.com/cover/9780375760983"
                                    width="500" height="500" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="https://books.google.com/books/content?id=kd8OY0ZFHW8C&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U1maZVfJlIB-4emIJbSqlRBxumG9Q&w=1280"
                                    width="500" height="500" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                        uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                        uk-slider-item="next"></a>
            </div>

                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
    </section>

        <ul>
            {{#each books as |book|}}
            <li>
                {{>books book}}

            </li>
            {{/each}}
        </ul>
    </section>
    {{!-- {{/if}} --}}
    {{!-- <div>
        <a href="/dashboard/" class="add-link">+ Add A Book</a>
    </div> --}}


    <div class="uk-cover-container">
        <img src="https://scholarlykitchen.sspnet.org/wp-content/uploads/2018/07/iStock-506432952.jpg" atl="" uk-cover>
    </div>

    <script src="/javascript/add-book.js"></script>