<!--all posts for logged in user-->
{{#if books.length}}
<section>
    <h1>My Book Dashboard</h1>
    <ul>
        {{#each books as |book|}}
        <li>
            {{>books book}}
            
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}
<div>
    <a href="/add-book" class="add-link">+ Add A Book</a>
</div>