<!--all posts for logged in user-->
<section>
    <h1>My Book Dashboard</h1>
    <ul>
        <li>
            <!--book partial here-->

            
        </li>
    </ul>
</section>


<div>
    <a href="/dashboard/" class="add-link">+ Add A Book</a>
</div>