<!--all posts for logged in user-->
{{!-- {{#if books.length}} --}}
{{!-- <section> --}}
    <h1>My Book Dashboard</h1>
    <section class="uk-flex-inline">
        <form class="new-book-form">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div>
                    <label for="book-title" class="book-title">Book Title:</label>
                    <input type="text" id="book-title" name="book-title" />
                </div>

                <div>
                    <label for="author-name" class="author-name">Author:</label>
                    <input type="text" id="author-name" name="author-name" />
                </div>
            </div>

            <div>
                <button class="uk-button uk-button-link uk-button-large" id="book-button" type="submit">+ Add A
                    Book</button>
                {{!-- <a href="/dashboard/" class="add-link" id="add-book">+ Add A Book</a> --}}
            </div>
        </form>
    </section>
    <ul>
        {{#each books as |book|}}
        <li>
            {{>books book}}

        </li>
        {{/each}}
    </ul>
</section>
{{!-- {{/if}} --}}
{{!-- <div>
    <a href="/dashboard/" class="add-link">+ Add A Book</a>
</div> --}}

<div class="uk-cover-container">
        <img src="https://scholarlykitchen.sspnet.org/wp-content/uploads/2018/07/iStock-506432952.jpg" atl="" uk-cover>
        </div>

<script src="/javascript/add-book.js"></script>