<!--all posts for logged in user-->
<section>
    <h1>My Book Dashboard</h1>
    <ul>
        {{#each books}}
        <li>
            {{>books}}
        </li>
        {{/each}}
    </ul>
</section>

<div>
    <a href="/dashboard/" class="add-link">+ Add A Book</a>
</div>