<article>
    <h2>Edit Review</h2>
    <form class="edit-review-form">
        <div class= "edit-review-content" >
            <label>Review:</label>
            <input id= "review-to-edit" name="review_text" type="text" value="{{review.review_text}}"/>

        </div>

        <button class="uk-button uk-button-link uk-button-large hover-underline-animation uk-button-default" id="save-btn" data-book="{{review.book_id}}" type="submit">Save Edit</button>
        <button class="uk-button uk-button-link uk-button-large hover-underline-animation uk-button-default" id="delete-btn" type="button">Delete Review</button>
    </form>
</article>
<div class="uk-cover-container">
        <img src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Ym9va3NoZWxmfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" atl="" uk-cover>
        </div> 


<script src="/javascript/edit-review.js"></script>
<script src="/javascript/delete-review.js"></script>