<ul class="book-list">
    {{#each books}}
    <li>
        {{>books}}
    </li>
    {{/each}}
</ul>


<div class="uk-cover-container">
        <img src="https://cdn.pixabay.com/photo/2016/09/13/08/44/library-1666702_1280.jpg" atl="" uk-cover>
        </div>

        {{!-- <div class="uk-cover-container">
        <img src="" atl="https://cdn.pixabay.com/photo/2015/10/09/08/45/book-978888_1280.jpg" uk-cover>
        </div>  --}}
