<ul class="book-list">
    {{#each books as |book|}}
    <li>
        {{>books book}}
    </li>
    {{/each}}
</ul>

{{!-- code from image in login HB  --}}
{{!-- <div class="uk-cover-container">
        <img src="https://scholarlykitchen.sspnet.org/wp-content/uploads/2018/07/iStock-506432952.jpg" atl="" uk-cover>
        </div> --}}