<!--book partial-->
{{>books book}}
{{>reviews book.reviews}}
<!--review form-->

<form class="review-form">
    <div>
        <textarea name="review-body"></textarea>
    </div>

    <div>
        <button type="submit">Add review</button>
        <!--thumb up button here??-->
    </div>
</form>


<script src="/javascript/review.js"></script>