<!--book partial-->

<!--review form-->
{{#if loggedIn}}
<form>
    <div>
        <textarea name="review-body"></textarea>
    </div>

    <div>
        <button type="submit">Add review:</button>
        <!--thumb up button here??-->
    </div>
</form>
{{/if}}