<!--book partial-->
{{>books book}}
{{>reviews book.reviews}}
<!--review form-->

{{#if loggedIn}}
<form class="review-form">
    <div>
        <textarea name="review-body"></textarea>
    </div>

    <div>
        <button type="submit">Add review</button>
        <button type="button" id="upvote-btn">Upvote book</button>
    </div>
</form>
{{/if}}

<div class="uk-cover-container">
    <img src="https://cdn.pixabay.com/photo/2015/10/09/08/45/book-978888_1280.jpg" atl="" uk-cover>
</div>


<script src="/javascript/review.js"></script>
<script src="/javascript/book-votes.js"></script>