h1 {
    text-align: center;
    color: rgb(66, 113, 234);
}

h1:hover {
  color: rgb(195, 65, 45); 
}

.uk-breadcrumb {
    text-align: center;
    margin-top: 43px;
    margin-bottom: 35px;
    
}

.uk-breadcrumb a {
    font-size: 22px;
    margin-right: 50px;
    color: rgb(66, 113, 234);
}

.uk-button {
    color: rgb(66, 113, 234);
    font-size: 16.5px;
}

.uk-cover-container {
    margin-top: 80px;
    height: 280px;
    width: auto;
}

h2 {
    margin-left: 9%;
    margin-top: 20px;
}
/* login form */
.login-form {
    margin-left: 8.5%;
    height: 120px;
    margin-bottom: 210px;
    margin-right: 12%;
}

.login-form label {
    font-size: 27px;
}

#email-login {
    margin: 10px 12px 20px 12px;
}

#password-login {
    margin: 10px 12px 20px 12px;
}

#button-login {
    color:rgb(66, 113, 234);
    font-size: 23px;
    margin-left: 12px;
}

/* signup form */
.signup-form {
    margin-left: 8.5%;
    height: 120px;
    margin-bottom: 210px;
    margin-right: 12%;
    
}

.signup-form label {
    font-size: 27px;
}

#username-signup {
    margin: 10px 12px 20px 12px;
}

#email-signup {
    margin: 10px 12px 20px 12px;
}

#password-signup {
    margin: 10px 12px 20px 12px;
}

#signup-btn {
    color:rgb(66, 113, 234);
    font-size: 23px;
    margin-left: 12px;
}

/* dashboard page */

.new-book-form {
    margin-left: 20%;
    height: 120px;
    margin-bottom: 200px;
    margin-right: 12%;
}

.new-book-form label {
    font-size: 27px;
}

#book-title {
    margin: 10px 12px 20px 12px;
}

#author-name {
    margin: 10px 12px 20px 12px;
}

#book-button {
    margin-top: 75px;
    color:rgb(66, 113, 234);
    font-size: 23px;
    margin-left: 12px;
}

#book-button a {
    color: rgb(195, 65, 45);
    text-decoration: none;
}

.review-form {
    margin-left: 8.5%;
    height: 120px;
    margin-bottom: 200px;
    margin-right: 12%;
}

.review-form label {
    font-size: 27px;
}

#book-review {
    margin: 10px 12px 20px 12px;
}

footer {
    margin-left: 3%;
    margin-top: 3%;
}

/* .uk-card {
  color:blue
} */

/* header:hover {
  color: rgb(195, 65, 45); 
}  */

/* .uk-navbar-center:hover {
  background-color: yellowgreen;
} */

li a:hover {
  font-size: x-large;
 
}

/* #signup-btn:hover,#button-login:hover {
  color: red
  
} */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(66, 113, 234);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}